:root {
  color-scheme: light dark;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  /* remove overscroll behavior */
  overscroll-behavior: none;
}

body {
  @apply min-w-[375px] h-screen
}

#app {
  @apply h-[calc(100vh-88px)] mb-[88px];
}

h1 {
  @apply text-2xl font-bold;
}

button {
  @apply px-5 py-2 text-base font-normal bg-gray-800 border border-transparent focus:outline-4 focus-visible:outline-4 focus:outline-indigo-700 focus-visible:outline-indigo-700 hover:border-indigo-700 transition-colors duration-200 ease-out;
}

.card {
  padding: 2em;
}

#app {
  @apply max-w-[1280px] mx-auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.locator {
  @apply absolute bottom-0 left-0 right-0 p-2 font-bold text-xs text-white;
}

.locator.store {
  @apply bg-gradient-to-r from-green-600 from-10% to-transparent to-70%;
}

.locator.not-store {
  @apply bg-gradient-to-r from-red-600 from-30% to-transparent;
}