rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function
    function isAuth() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isAuth() && request.auth.uid == userId;

      // Allow users to freely read their achievements and stats and updates.
      match /achievements/{achievementId} {
        allow read: if isAuth() && request.auth.uid == userId;
        allow write: if false; // Only written by cloud functions
      }

      match /stats/{statId} {
        allow read: if isAuth() && request.auth.uid == userId;
        allow write: if false; // Only written by cloud functions
      }
    }

    match /sessions/{sessionId} {
      allow create: if isAuth() && request.resource.data.user_id == request.auth.uid;
      allow read, update: if isAuth() && (resource.data.user_id == request.auth.uid);
      allow delete: if false; // Sessions shouldn't be deleted
    }

    match /orders/{orderId} {
      // Allow reading queued orders or orders belonging to the user
      allow read: if isAuth() && (resource.data.user_id == null || resource.data.user_id == request.auth.uid);
      
      // Allow creating unassigned orders 
      allow create: if isAuth() && request.resource.data.user_id == null;

      // Allow users to update an order IF:
      // 1. They are claiming a currently unassigned order
      // 2. They already own the order and are updating its status
      allow update: if isAuth() && (
        (resource.data.user_id == null && request.resource.data.user_id == request.auth.uid) ||
        (resource.data.user_id == request.auth.uid && request.resource.data.user_id == request.auth.uid)
      );

      allow delete: if false; // Orders shouldn't be deleted, only cancelled
    }
  }
}
